<div class="main-content">
  <div animateOnScroll animationName="animated fadeInUpBig" class="windows hide-on-init">
    <h2> Windows on the go </h2>
  </div>

  <div animateOnScroll animationName="animated zoomInDown" class="windows hide-on-init">
    <span id="second-title"> PLUG IN MYPC TO ANY COMPUTER AND BOOT YOUR WINDOWS</span>
    <hr>
    <button routerLink="installation">Installation Guide</button>
  </div>


  <div animateOnScroll animationName="animated zoomInDown" class="windows hide-on-init">
    <span id="second-title"> YONI YOU NEED TO GIVE ME SOME TEXT HERE</span>
  </div>


  <div animateOnScroll animationName="animated zoomInDown" class="windows hide-on-init">
    <span id="second-title"> PLACE HOLDER TEXT JUST TO SHOW ANIMATION, I NEED MORE TEXT</span>
  </div>


</div>
