<app-navigation></app-navigation>
<div class="container-fluid header-container">
  <div class="row">
    <div class="col-sm">
      <h2 id="DONT-LOSE-IT" class="animated fadeIn">MYPC.<br>Your personal pc wherever you are</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <p>Keep your data safe before it's too late. Take action today with our automated system and affordable approach.</p>
  </div>
  <div class="row justify-content-center padding-bottom">
    <button type="button" class="btn btn-primary" routerLink="/signup">Start now</button>

  </div>
</div>

<!-- generation container -->
<div class="container-fluid generation-container animated fadeIn">
  <div class="row justify-content-center padding">
    <div class="col-sm">
      <h2 style="text-align: center;">The new generation of computers</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <carousel>
        <slide>
          <img src="assets/man.jpeg" alt="first slide" class="img-slide">
        </slide>
        <slide>
          <img src="assets/desk.jpg" alt="second slide" class="img-slide">
        </slide>
        <slide>
          <img src="assets/laptop.jpg" alt="third slide" class="img-slide">
        </slide>
      </carousel>
    </div>
  </div>
</div>
<!-- Who we are -->
<div class="container who-container animated fadeIn">
  <div class="row justify-content-center">
    <div class="col">
      <h2>Who we are</h2>
    </div>
  </div>


  <div class="row">
    <div class="col">
      Founded in 2000, Throughout our history, we have always provided out customers with top quality products at
      the
      best value. While the pace of technological development is unprecedented, the keys to our success over the
      years haven't changed. We constantly improve our business practices, stock the latest products, and grow
      our
      knowledgeable and passionate team of professionals.
    </div>
  </div>
</div>

<app-footer-main></app-footer-main>
