.smile {
  width: 100%;
  height: auto;
}

.top-container {
  padding: 0px;
  margin: 0px;
}

.portability {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  width: 350px;
}
.hover-div-bottom {
  z-index: 50;
  background-color: rgb(207, 25, 55);
  color: white;
  padding: 32px;
  width: 40%;
  text-align: center;
  float: right;
  height: 300px;
}

.pocket-div {
  img {
    width: 100%;
  }
}

.padding-bottom {
  padding-bottom: 16px;
}

.midblock {
  opacity: 0;
}

.undermid {
  opacity: 0;
}

.airport-img {
  width: 100%;
}

.meeting-img {
  width: 100%;
}

.text-block {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}


@media only screen and (max-width: 600px) {
  * {
    p {
      font-size: 14px;
    }
  }
  .top-container {
    padding: 0px;
  }

  .smile {
    width: 100%;
  }

  .red-div {
    height: 200px;
    padding: 16px;

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 6px;
    }

    p {
      font-size: 14px;
    }
  }

  .middle-block {
    opacity: 1;
    padding: 6px;
    margin-top: 5%;
  }

  .text-block {
    text-align: center;
    padding-right: 0%;
    padding-left: 0%;
  }

  .hover-div-bottom {
    z-index: 50;
    background-color: rgb(207, 25, 55);
    color: white;
    padding: 16px;
    width: 100%;
    text-align: center;
    float: right;
    height: 80px;

    h3 {
      font-size: 20px;
    }
  }
}
