#DONT-LOSE-IT {
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  z-index: 1;
}

.wrapper {
  display: flex;
  position: relative;
  top: 100px;
}

.header-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
  height: 75vh;
  max-width: 1300px;

  .col {
    align-content: center;
    justify-content: center;
  }

  .row {
    align-content: center;
    justify-content: center;
  }
}


.padding-bottom {
  padding-bottom: 16px;
}

.generation-container {
  padding: 35px 25px 25px 25px;
  background-color: rgb(32, 32, 32);
  color: white;

  .img-slide {
    display: block;
    width: 100vw;
    height: 60%;
  }

  h2 {
    font-size: 50px;
  }

  .row {
    padding: 20px 20px 20px 20px;
  }


}

.who-container {
  height: 500px;
  padding: 35px 25px 25px 25px;
  margin-top: 10%;

  h2 {
    font-size: 45px;
  }

  .row {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}




.carousel-caption {
  color: black;
}

@media only screen and (max-width: 600px) {
  #DONT-LOSE-IT {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    z-index: 1;
  }

  .wrapper {
    top: 50px;
  }

  .header-container {
    height: 60vh;
  }

  .data-safe {
    text-align: center
  }

  .generation-container {
    padding: 25px 15px 15px 15px;

    h2 {
      font-size: 35px;
    }
  }
}
