.smile {
  width: 100%;
  height: auto;
}

.top-container {
  padding: 0px;
  margin: 0px;
}

.portability {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  width: 350px;
}

.padding-bottom {
  padding-bottom: 16px;
}

.mid-block {
  opacity: 0;
}

.under-mid {
  opacity: 0;
  img {
    position: relative;
    left: 100%;
  }
  .under-mid-text {
    right: 50%;
  }
}

.airport-img {
  width: 100%;
}

.meeting-img {
  width: 100%;
}
.loadout-img {
  width: 100%;
}

.pocket-div {
  display: flex;
  img {
    width: 100%;
  }
}

.text-block {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 16px;
}


@media only screen and (max-width: 600px) {
  .mypc {
    visibility: hidden;
  }

  .portability {
    position: relative;
    color: white;
    width: 100%;
    padding: 16px;
    background-color: rgba(235, 107, 33, 0.952);
    margin: 0px;
    left: 0;
  }

  .row {
    padding: 0px;
  }

  .col-sm-6 {
    padding: 0px;
  }

  .meeting-img {
    width: 100%;
    padding: 0px;
  }

  * {
    p {
      font-size: 14px;
    }
  }

  .top-container {
    padding: 0px;
  }

  .mid-block {
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
  }

  .under-mid {
    background-color: rgb(51, 88, 209);
    color: white;
    img {
      position: relative;
      left: 0%
    }

    .under-mid-text {
      right: 0%
    }
  }
  .pocket-div {
    text-align: center;
  }
  .smile {
    width: 100%;
  }
  .text-block {
    text-align: left;
    padding-right: 0%;
    padding-left: 0%;
    padding: 16px;
  }
}
