<app-navigation></app-navigation>
<div class="wrapper">
  <div class="container-fluid">
      <div class="hover-div animated fadeInLeftBig">
          <h2>-</h2>
          <h3>Perfect portability</h3>
          <p>MyPc is a pocket-sized Windows PC that gives you desktop-like
              computing whenever you need it.
              MyPc opens up a world of computing possibilities for your
              home,
              office, or anywhere else you need it.</p>
        </div>
    <div class="row-sm-12 padding animated fadeIn">
      <img src="../../../assets/smilecrop.jpg" class="smile" />
    </div>
  </div>
</div>

<!-- generation container -->
<div class="container-fluid middle-block" >
  <div class="row padding midblock" #middleblock>
    <div class="col-sm-6 align-self-center text-block">
      <h3>Mobile flexibility</h3>
      <p>Whether you're on vacation or a business trip, MyPc gives you all the computing functions you need,
        without
        having to lug around a laptop. You can simply hook it up to a PC in your hotel to watch YouTube videos or
        catch
        up on some work.</p>
    </div>
    <div class="col-sm-6">
        <img src="../../../assets/airport.jpg" class="airport-img" />
      </div>
  </div>
  <div class="row padding undermid" #undermid>
    <div class="col-sm-6">
      <img src="../../../assets/meeting.jpg" class="meeting-img" />
    </div>
    <div class="col-sm-6 align-self-center  text-block">
        <h3>Full PC functionality</h3>
        <p>You'll enjoy desktop-like levels of performance and beautiful Full HD visuals thanks to MyPc's Power.
          There's no setup needed, MyPc boots up quickly and is ready to go right out-of-the-box.
          that, you get 20GB of PC-Lab WebStorage space free, so wherever you are in the world, you can use your MyPc
          to
          access files stored in the cloud.</p>
      </div>
  </div>
</div>


<!-- Who we are -->
<div class="container who-container animated fadeIn">
    <div class="hover-div-bottom">
        <h3>Fits in your pocket</h3>
      </div>
  <div class="row justify-content-center">
  </div>
  <img src="../../../assets/loadout.jpg" />
</div>





<app-footer-main></app-footer-main>

<!--
<div class="col-sm">
  <h3>Mobile flexibility</h3>
  <p>Whether you're on vacation or a business trip, MyPc gives you all the computing functions you need,
    without
    having to lug around a laptop. You can simply hook it up to a PC in your hotel to watch YouTube videos or
    catch
    up on some work.</p>
</div>
<div class="col-sm">
  <h3>Design</h3>
  <p>The elegantly-designed MyPc features smooth lines and an understated shimmer finish. Its beauty is in these
    little details. And
    with a
    thickness of just 16mm, it's one space-saving PC that frees up precious desktop space.</p>
</div>
<div class="col-sm">
  <h3>Full PC functionality</h3>
  <p>You'll enjoy desktop-like levels of performance and beautiful Full HD visuals thanks to MyPc's Power.
    There's no setup needed, MyPc boots up quickly and is ready to go right out-of-the-box.
    that, you get 20GB of PC-Lab WebStorage space free, so wherever you are in the world, you can use your MyPc
    to
    access files stored in the cloud.</p>
</div>
<div class="row justify-content-center">
  <div class="col">
    <h2>Who we are?</h2>
  </div>
</div>


<div class="row">
  <div class="col">
    Founded in 2000, Throughout our history, we have always provided out customers with top quality products at
    the
    best value. While the pace of technological development is unprecedented, the keys to our success over the
    years haven't changed. We constantly improve our business practices, stock the latest products, and grow
    our
    knowledgeable and passionate team of professionals.
  </div>
</div>

-->
