<app-navigation></app-navigation>
<div class="container-fluid animated slideInLeft">
  <div class="row justify-content-center padding" style="text-align: center;">
    <h2>Our products</h2>
  </div>
  <div class="row justify-content-center padding" style="text-align:center">
    <div class="col-sm">
      <h2>Cheap</h2>
      <ul class="list-group">
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
      </ul>
      <button type="button" class="btn purple-btn margin-top">Purchase</button>
    </div>
    <div class="col-sm">
      <h2>Medium</h2>
      <ul class="list-group">
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
      </ul>
      <button type="button" class="btn purple-btn margin-top">Purchase</button>
    </div>
    <div class="col-sm">
      <h2>Expensive</h2>
      <ul class="list-group">
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
        <li class="list-group-item">Details about PC</li>
      </ul>
      <button type="button" class="btn purple-btn margin-top">Purchase</button>
    </div>
  </div>
</div>

<app-footer-main></app-footer-main>
