.main-content {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  height: 130px;
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: 32px;
}

#left-box {
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  position: absolute;
}

.footer-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
}

#middle-box {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  text-align: center !important;
}

#middle-list {
  list-style: none;
  padding-left: 0px;
  color: white;
  margin-top: 15%;
}

#middle-list li {
  transition: padding-bottom 0.5s, font-size 0.5s;
}

#middle-list li:hover {
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}

#right-box {
  color: white;
  align-self: center;
  justify-self: center;
  padding: 10px 15px;
}

mat-divider {
  background-color: white;
}



@media only screen and (max-width: 600px) {
  #left-box {
    font-size: 15px;
  }

  #middle-box #middle-list {
    font-size: 12px;
  }

  #right-box {
    font-size: 13px;
  }

  .footer-title {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: white;
  }
}
