<app-navigation></app-navigation>
<div class="main-content">
  <form [formGroup]="signupForm">
    <h4>Signup to use our service</h4>
    <p class="email">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="signupForm.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>
    <p class="password">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </p>
    <button id="sign-up-btn" (click)="doRegister()">Signup</button>
    <button id="sign-in-btn" routerLink="../login">Or Sign in</button>
    <p *ngIf="errorText" style="color: red">{{ errorText }}</p>
  </form>
</div>
