
  <mdb-card class="text-black mb-3" bgColor="bg-secondary">
      <mdb-card-header>Your Package</mdb-card-header>
      <mdb-card-body>
        <mdb-card-title>
          <h5 *ngIf="!(snapshot | async)">UPLOAD TO MYPC CLOUD</h5>
          <h5 *ngIf="(percentage | async) >= 100">Success! <br /> Your files have been saved.</h5>
        </mdb-card-title>
        <div class="main-wrapper">
            <div class="input-group" *ngIf="!(percentage | async)">
              <div class="custom-file">
              <input type="file" class="custom-file-input"
                  id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01"
                  (change)="startUpload($event.target.files)">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>

            <div *ngIf="percentage | async as pct" class="progress-div">
              <progress class="progress is-info"
                        [value]="pct"
                        max="100">
              </progress>

              <span class="hit-the-floor">{{ pct | number }}%</span>
            </div>
            <div *ngIf="snapshot | async as snap" class="results">
              <button (click)="task.pause()"  class="btn btn-block btn-warning" [disabled]="!isActive(snap)">Pause</button>
              <button (click)="task.cancel()" class="btn btn-block btn-danger"  [disabled]="!isActive(snap)">Cancel</button>
              <button (click)="task.resume()" class="btn btn-block btn-primary" [disabled]="!(snap?.state === 'paused')">Resume</button>
              <button (click)="uploadMore()" *ngIf="snap.bytesTransferred === snap.totalBytes" class="btn btn-block btn-secondary">Upload</button>
            </div>
          </div>
      </mdb-card-body>
    </mdb-card>

