<app-navigation></app-navigation>
<div class="animated fadeInLeft">
  <div class="container">
    <div class="row">
      <div class="col-lg" style="padding-top: 25px;">
        <h2 style="text-align: center;"> How to boot your MyPc device</h2>
      </div>
    </div>
    <div class="row padding">
      <span style="font-weight: 800">Step 1. How to boot your MyPc device.</span>
      <br> This step you will be using when moving between different computers!
      <br> So the first thing is how to get to the “boot menu”.
      <br> Using boot menu is very easy anyone can do this you will need an assign keyboard key to press which will
      open
      the boot
      menu when the computer starts.
      <br> Normally the first boot screen give you the instruction like a key name to open it or you can try some
      default
      keys
      to open it. If the boot screen didn’t show you something then you can try these key one by one to open the boot
      menu.
      The keys are Esc, F7, F8, F9, F10, F11 and F12 you can try these keys one at a time by pressing it again and
      again
      after
      the 2 sec of your system starts and if the key is correct your boot menu will open.
      <br> Try the F10, 11, 12 first because it will assign most for the menu. Sometimes the Esc key take you to the
      menu
      where
      use can select the item what you want to open like bios, boot menu, memory test etc. I means you can try that one
      too
      if your computer has that one.
    </div>
    <div class="row">
      <img style="padding: 10px 10px" src="assets/bootwindow.png">
      <img src="assets//boot-menu-keys-tablet.png">
      <p class="padding">
        By using the above keys now I think you are in the boot menu. In this menu now you are seeing all of your Hard
        Drive, Cd
        or DVD Drives and USB Device. Now you can easily select the drive what you want to boot from and make it work.
        Now
        you want to boot from your USB, you can do it by just selecting the drive USB or USB HDD. Just select the item
        by
        your
        keyboard’s aero key and hit enter that’s it.
      </p>

      <img class="padding" src="assets/image3.png">
      <img class="padding" src="assets/image4.png">
    </div>
  </div>

  <app-footer-main></app-footer-main>
</div>



















<!-- 
<div class="main-content">
  <div class="title hide-on-init">
    <h2> How to boot your MyPc device</h2>
    <hr>
  </div>


  <div class="main-body hide-on-init">
    <span style="font-weight: 800">Step 1. How to boot your MyPc device.</span>
    <br> This step you will be using when moving between different computers!
    <br> So the first thing is how to get to the “boot menu”.
    <br> Using boot menu is very easy anyone can do this you will need an assign keyboard key to press which will open
    the boot
    menu when the computer starts.
    <br> Normally the first boot screen give you the instruction like a key name to open it or you can try some default
    keys
    to open it. If the boot screen didn’t show you something then you can try these key one by one to open the boot
    menu.
    The keys are Esc, F7, F8, F9, F10, F11 and F12 you can try these keys one at a time by pressing it again and again
    after
    the 2 sec of your system starts and if the key is correct your boot menu will open.
    <br> Try the F10, 11, 12 first because it will assign most for the menu. Sometimes the Esc key take you to the menu
    where
    use can select the item what you want to open like bios, boot menu, memory test etc. I means you can try that one
    too
    if your computer has that one.
  </div>

  <div class="boot-picture hide-on-init">
    <img style="padding: 10px 10px" src="../../assets/bootwindow.png">
    <img src="../../assets//boot-menu-keys-tablet.png">
  </div>

  <div class="under-picture-text hide-on-init">
    <p>
      By using the above keys now I think you are in the boot menu. In this menu now you are seeing all of your Hard
      Drive, Cd
      or DVD Drives and USB Device. Now you can easily select the drive what you want to boot from and make it work.
      Now
      you want to boot from your USB, you can do it by just selecting the drive USB or USB HDD. Just select the item by
      your
      keyboard’s aero key and hit enter that’s it.
    </p>
  </div>
  <div class="bios-pictures hide-on-init">
    <img style="padding: 10px 10px" src="../../assets/image3.png">

    <img src="../../assets/image4.png">
  </div>
</div>
 -->
