<div class="main-content">
    <app-navigation class="nav"></app-navigation>
  <p class="title">
    <span style="font-size: 50px">Life<span style="font-weight: 800; color: #6200ea;">Saver</span><br></span>
    Continuous backup to the cloud to protect your personal or small business data.</p>
  <div class="left-box">
    <p>
       Three clicks and your operating systems are backed up.
       Since all your backup information is in a central dashboard,
       you can quickly decide what you need to restore if you
       unexpectedly lose data. And with just a few clicks, you’ll
       be able to export reports about your backups—making 
       compliance easy.
      </p>
      <button mat-button class="left-learnMore">Learn more</button>
  </div>
</div>
