.main-content {
  display: grid;
  grid-template: 50px 1fr 1fr 1fr / repeat(4, 1fr);
  height: 820px;
}

#DONT-LOSE-IT {
  grid-row: 2/4;
  width: 110%;
  grid-column: 2/4;
  justify-self: center;
  align-self: end;
  font-size: 100px;
  font-weight: 800;
  z-index: 1;
}

#paragraph {
  grid-row: 4/5;
  grid-column: 2/4;
  text-align:center;
}

#start-now {
  background-color: rgb(36, 36, 36);
  color: white;
  border: none;
  font-weight: 800;
  font-size: 13px;
  padding: 10px 10px;
  width: 150px;
  height: 40px;

 transition: background-color 0.8s, border 1.0s, color 0.4s;
  -webkit-transition: background-color 0.8s, border 1.0s, color 0.4s;
  -moz-transition: background-color 0.8s, border 1.0s, color 0.4s;
}

#start-now:hover {
  cursor: pointer;






 background-color: inherit;
  border: 2px solid rgb(36, 36, 36);
  color: rgb(36, 36, 36);
}
