<div class="main-content">
  <mat-menu #appMenu="matMenu" class="menu" [overlapTrigger]="false">
    <button mat-menu-item>My Account</button>
    <button mat-menu-item>About us</button>
    <button mat-menu-item>Contact</button>
    <button mat-menu-item>Help</button>
    <button mat-menu-item (click)="disconnectUser()" *ngIf="userConnected; else notLoggedIn">Log off {{ user.name }}</button>
    <ng-template #notLoggedIn>
      <button mat-menu-item routerLink="signup">Sign-up</button>
    </ng-template>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="appMenu" class="menu" yPosition="above">
    <p style="align-self: center; margin-top: 15%;">Menu</p>
  </button>

  <!-- Bootstrap nav -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Help</a>
    </li>
  </ul>



  <div class="userDetails">
    <span *ngIf="userConnected; else notConnected">
      <p style="margin-top: 5%; font-size: 17px;">Welcome {{ user.name }}</p>
    </span>
    <ng-template #notConnected>
      <button
        mat-button
        routerLink="login"
        class="login-button">
        Login
      </button>
      <button
        mat-button
        routerLink="signup"
        class="signup-button">
        Signup
      </button>
    </ng-template>
  </div>
</div>
