<div class="main-content">
  <mat-menu #appMenu="matMenu" class="menu" [overlapTrigger]="false">
    <button mat-menu-item>My Account</button>
    <button mat-menu-item>About us</button>
    <button mat-menu-item>Contact</button>
    <button mat-menu-item>Help</button>
    <button mat-menu-item (click)="disconnectUser()" *ngIf="userConnected; else notLoggedIn">Log off {{ user.name }}</button>
    <ng-template #notLoggedIn>
      <button mat-menu-item routerLink="signup">Sign-up</button>
    </ng-template>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="appMenu" class="menu">
    <p>Menu</p>
  </button>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>



  <div class="userDetails">
    <span *ngIf="userConnected; else notConnected">
      Welcome {{ user.name }}
    </span>
    <ng-template #notConnected>
      <p>Please <a routerLink="login">login</a> or <a routerLink="signup">sign-up</a></p>
    </ng-template>
  </div>
</div>
