/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "node_modules/bootstrap/scss/bootstrap.scss";
* {
  font-family: 'Poppins';
}
body {
  font-family: 'Poppins';
  margin: 0px;
  padding: 0px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

.padding {
  padding: 16px 16px 16px 16px;
}

.purple-btn {
  background-color: #880e4f;
  color: white;
}

.purple-btn-outline {
  background-color: transparent;
  border: 1px solid #880e4f;
  color: #880e4f;
}

.margin-top {
  margin-top: 16px;
}

.dark-bg {
  background-color: rgb(32, 32, 32);
}

.dark-fg {
  color: rgb(32, 32, 32);
}

.light-bg {
  background-color: rgb(252, 252, 252);
}

.light-fg {
  color: rgb(252, 252, 252);
}

.indigo-fg {
  color: #9933CC;
}

.indigo-bg {
  background-color: #9933CC;
}



$orange: #ff6f00;
