.main-content {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  margin-top: 16px;
  grid-column-gap: 0px;
}

.right-div {
  grid-column: 3/4;
  justify-self: center;
}

.middle-div {
  grid-column: 2/3;
  justify-self: center !important;
  width: 100%;
  padding: 0px 32px 32px 32px;
}

.left-div {
  grid-column: 1/2;
  justify-self: center;
}

.chat-btn {
  margin-left: 0;
  margin-top: 16px;
}

.card-body {
  width: 100%;
}

.download-btn {
  background-color: rgb(60, 197, 199);
}

.download-card-footer {
  display: flex;
  justify-content: center;
  .card-footer {
    width: 100%;
    background-color: initial;
    border: none;
  }
}

#max {
  position: absolute;
  font-size: 12px;
  left: 20%;
  bottom: 25%;
}

#current {
  position: absolute;
  font-size: 12px;
  right: 20%;
  bottom: 25%;
}

@media only screen and (max-width: 600px) {
  .main-content {
    grid-template: 1fr 1fr 1fr/ 1fr;
  }

  .left-div {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }

  .middle-div {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .right-div {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
    justify-items: center;
    padding: 32px;
  }

}
