.main-content {
  font-family: 'Montserrat', sans-serif;
  height: 630px;
  display: grid;
  grid-template: auto/auto;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 45px;
  letter-spacing: 0.5rem;
  padding-top: 5%;
}
