.main-content {
  font-family: 'Montserrat', sans-serif;
  height: 630px;
  display: grid;
  grid-template: auto/auto;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 45px;
  padding-top: 5%;
  z-index: 1;
}

img {
  width: 100%;
  justify-self: center;
  height: 78%;
  position: absolute;
}
