<div class="main-content">
    <h2 class="title">Full control of your data</h2>
    <div class="card">
      <img
        src="../../../../assets/laptop.jpg"
        alt="laptop"
        class="laptop-image">
        <p class="card-content">
         <span style="font-weight: 800">Download your data anywhere - anytime</span><br>
         Fully featured data management by our team; did your computer fail?<br>
         USB OS died?
         Tell us and we will send you a new one with the operating system restored
         as it was before the incidient.<br>
         Make your business secure and worry-free.
        </p>
        <button mat-button routerLink="signup" class="signup-button">Signup now</button>
    </div>
</div>
