<div class="main-content">
  <span class="information">
    <h1>Information is at the heart of your business.</h1><br>
    <p style="font-size: 17px">Protecting it is at the heart of ours.<br>
      We offer the only usb operation system with fully intergrated cloud backup.<br>
      Your data is safe, mobile and you are worry free.</p>
  </span>
  <span class="delivered">
  <h1>Delivered to your door.</h1>
  <p style="font-size: 17px">
      Our unique USB runs a fully working windows, Imagine having
      an operating system ready to start on any machine;
      A portable computer made even more portable.<br>
      Join us now and we will make sure you're ready to go in no time.</p>
      <a routerLink ="signup" style="font-weight: 800;">
        <p>Get yours now
        <i class="material-icons">
            subdirectory_arrow_left
          </i>
        </p>
      </a>
  </span>
</div>
<app-under-main-component></app-under-main-component>
