.main-content {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(7, 1fr);
  height: 1200px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(36,36,36);
  color: white;
}

.information {
  grid-row: 2/3;
  grid-column: 2/4;
}
.information h1 {
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  line-height: 3rem;
  font-size: 45px;
}

.delivered {
  grid-row: 6/7;
  grid-column: 5/7;
}

.delivered h1 {
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  line-height: 3rem;
  font-size: 45px;
}

a {
  text-decoration: none;
  color: white;
}
