<div class="main-content">
  <span class="information">
    <h1>How to boot your MyPc device</h1><br>
    <p style="font-size: 17px">Click to see our quick installation guide.<br>
  </span>
  <button id="guide-btn">Guide</button>
  <span class="delivered">
  <h1>Delivered to your door.</h1>
  <p style="font-size: 17px">
      Our unique USB runs a fully working windows, Imagine having
      an operating system ready to start on any machine;
      A portable computer made even more portable.<br>
      Join us now and we will make sure you're ready to go in no time.</p>
      <a routerLink ="signup" style="font-weight: 800;">
        <p>Get yours now
        <i class="material-icons">
            subdirectory_arrow_left
          </i>
        </p>
      </a>
  </span>
</div>
<app-under-main-component></app-under-main-component>
