<div class="main-content">
  <h2 style="font-weight: 800" class="title">Information is at the heart of your business.
      Protecting it is at the<br> heart of ours</h2>
      <div class="boxes-container">
        <div class="left-box">
          <div class="purple-header">
            <h4>Our Solutions</h4>
          </div>
          <mat-divider [inset]="true"></mat-divider>
          <p>Accelerating your IT is paramount to business success.
             Deliver business agility with Proact's vast portfolio of
             cloud and data centre services.</p>
             <br>
             <button mat-button class="learn-more">Learn more</button>
          </div>

        <div class="right-box">
            <div class="purple-header">
                <h4>Our Knowledge</h4>
              </div>
              <mat-divider [inset]="true"></mat-divider>
              <p>Want to make change happen and overcome your IT challenges?
                Transform your status quo by exploring our range of content and guidance.</p>
              <br>
              <button mat-button class="learn-more">Learn more</button>
        </div>
      </div>
</div>
